html {
    font-size: 14px;
    font-family: 'montserrat';
    background-color: rgb(240, 240, 240);
}
header {
    background-color: rgb(0, 14, 59);
    color: whitesmoke;
    padding: 10px 10px 20px 10px;
    font-family: 'Montserrat';
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.title {
    font-size: 20px;
}
header a {
    font-size: 16px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row-nav div {
    margin: 10px 40px;
    cursor: pointer;
}
main {
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    color: rgb(0, 14, 59);
}
.container div {
    margin: 0 20px;
}
.stats-title {
    font-size: 20px;
    font-family: 'Montserrat';
}

#stats {
    flex: 2;
    text-align: center;
}
.table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1.5px solid rgb(1, 0, 100);
}
.table div {
    margin: 5px;
}
#map {
    flex: 2;
    padding: 10px;
    height: 400px;
    width: 100%;
    border: 5px solid rgb(1, 0, 100);
}
nav {
    background-color: rgb(1, 0, 100);
    color: whitesmoke;
}
li {
    color: whitesmoke;
}
footer {
    margin-top: 100px;
    font-family: 'montserrat';
    font-size: 12px;
    background-color: rgb(0, 14, 59);
    color: whitesmoke;
    padding: 10px 10px 20px 10px;
    font-family: 'Montserrat';
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
.footer-container {
    margin: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.footer-container > div > p {
    text-align: center;
}
.footer-container > div > a {
    color: whitesmoke;
    text-decoration: none;
}
.footer-container > div > a:hover {
    color: white;
}
center p {
    font-size: 12px;
}