<!DOCTYPE html>
<html lang="en">
<head>
    {% include "links.html" %}
</head>
<body>
    {% include "navbar.html" %}

    {% block main %} 

    {% include "gps-map.html" %}
    <main>
        <div class="container">
            <div id="map"></div>
            <div id="stats">
                <span class="stats-title">Statistics</span>
                <div class="table">
                    <div style="flex: 1;"><i class="fa fa-clock-o" aria-hidden="true"></i></i><strong style="padding-left: 5px">Loading Time</strong></div>
                    <div style="flex: 2;"><i class="fa fa-map-marker" aria-hidden="true"></i><strong style="padding-left: 5px">IP Address</strong></div>
                    <div style="flex: 2;"><i class="fa fa-map-marker" aria-hidden="true"></i><strong style="padding-left: 5px">City</strong></div>
                    <div style="flex: 2;"><i class="fa fa-map-marker" aria-hidden="true"></i><strong style="padding-left: 5px">Country</strong></div>
                </div>
                <div class="table">
                    <div style="flex: 1;"><strong style="padding-left: 5px">{{ time }} seconds</strong></div>
                    <div style="flex: 2;"><strong style="padding-left: 5px">{{ ip }}</strong></div>
                    <div style="flex: 2;"><strong style="padding-left: 5px">{{ city }}</strong></div>
                    <div style="flex: 2;"><strong style="padding-left: 5px">{{ country_code  }}</strong></div>

                </div>
            </div>
        </div>
    </main>



     {% endblock %}

     {% include "footer.html" %}
</body>
</html>