<footer>
    <div class="footer-container">
        <div>
            <p>
                The website is made only in educational purposes <br> <br>
                and does not follow any manipulations with the data.
            </p>
        </div>
        <div>
            <a href="http://https://gitlab.com/fancytown/tracking-application/-/tree/main"><i class="fa fa-gitlab fa-lg"></i><span style="padding-left: 10px;">Source code</span></a>
            <br> <br>
            <a href="#" style="padding-left: 5px;"><i class="fa fa-info fa-lg"></i><span style="padding-left: 15px;">About us</span></a>
        </div>
    </div>

    <center><p>Copyright © 2022. All rights reserved.</p></center>
</footer>