{% extends "base.html" %}

{% block main %}

<main>
        <div class="container">
            <div id="map"></div>
            <div id="stats">
                <span class="stats-title">General Statistics</span>
                <div class="table">
                    <div style="flex: 1;"><strong>Loading Time</strong></div>
                </div>
            </div>
        </div>

        <center><button>Save Geolocation</button></center>
</main>

{% endblock main %}

