<header>
    <span class="title"><center>Suivré</center></span>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item px-5">
              <a class="nav-link active" aria-current="page" href="#">Homepage</a>
            </li>
            <li class="nav-item px-5">
              <a class="nav-link" href="#">Save geolocation</a>
            </li>
            <li class="nav-item px-5">
              <a class="nav-link" href="#">Statistics</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>